<!DOCTYPE html>
<html lang="en">
<head>
    <title>Category</title>
    {{>head_links}}
</head>
<body id="main">
    {{>header}}
    <main>
        <div class="container pb-5 mb-4">
            {{>breadCrumbs}}
            <div class="row row-cols-1 row-cols-md-5">
                {{#each Category}}
                <a href="/category/{{slug}}" class="p-2">
                    <div class="card border-0 d-none d-md-block">
                        <img class="card-img-top mt-5 border-right product_images" src="{{image}}" alt="{{name}}" height="250px">
                        <div class="card-body">
                            <p class="card-text font-weight-bold"> {{name}}</p>
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
        
    </main>
    {{>footer}}
</body>
</html>