<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Sellers</title>
    {{>head_links}}
</head>

<body>
    {{>header}}
    <main>
        <div class="container pb-5">
            <div class="d-flex">
                <h5 class="font-weight-bold"> Best Sellers </h5>
            </div>
            <div class="card-group my-3">
                {{!-- {{#each products }}
                    {{#each this}}
                        <div class="card d-none d-md-block mx-2 col-md-3">
                            <img class="card-img-top mt-3" src="{{ this.ImagePath }}" alt="Card image cap">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold" id="product_red_carot"> {{ this.name }} </p>
                                <div class="star_rating_size ">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="text-success font-weight-bold" id="price_red_carot"> {{this.price}} </p>
                                <div>
                                    <div class="text-center">
                                        <button value="-" id="red_carot" class="value_btn minus_btn"> - </button>
                                        <input disabled id="qty_red_carot" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="red_carot" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}} --}}
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3" src="./Images/red-carot.jpg" alt="red-carot" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_red_carot" data-product-id="Red Carot"> Red Carot </p>
                        <div class="star_rating_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_red_carot"> $99.99 </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="red_carot" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_red_carot" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="red_carot" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3" src="./Images/ice-cream.jfif" alt="Cheese" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_ice_cream"> Ice Cream </p>
                        <div class="star_rating_size">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_ice_cream"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="ice_cream" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_ice_cream" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="ice_cream" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" id="btnToaddTermRows" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3 w-50 ml-5" src="./Images/kit-kat.png" alt="kit-kat" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_kit_kat"> kit-kat </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_kit_kat"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="kit_kat" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_kit_kat" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="kit_kat" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3" src="./Images/pizza.png" alt="Cheese" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_pizza_1"> Pizza </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_pizza_1"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="pizza" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_pizza" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="pizza" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3" src="./Images/milk 1.png" alt="milk" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_milk"> Milk </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_milk"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="milk" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_milk" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="milk" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group my-3">
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3" src="./Images/bamboo shoots.jpg" alt="bamboo" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_bamboo_shoots"> Bamboo Shoots </p>
                        <div class="star_rating_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_bamboo_shoots"> $99.99 </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="bamboo_shoots" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_bamboo_shoots" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="bamboo_shoots" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3" src="./Images/Bread.jpg" alt="Bread" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_bread"> Bread </p>
                        <div class="star_rating_size">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_bread"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="bread" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_bread" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="bread" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3 w-75 ml-4" src="./Images/dry fruits.jpg" alt="dry fruits" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_dry_fruits"> Dry fruits </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_dry_fruits"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="dry_friuts" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_dry_friuts" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="dry_friuts" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3" src="./Images/fresh.png" alt="fresh" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_fresh"> fresh </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_fresh"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="fresh" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_fresh" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="fresh" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3">
                    <img class="card-img-top mt-3 w-50 ml-5" src="./Images/ice cream.png" alt="ice-cream" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_ice_cream_2"> Ice Cream </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_ice_cream_2"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="ice_creams" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_ice_creams" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="ice_creams" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group my-3">
                <div class="card d-none d-md-block mx-2 col-md-3 ">
                    <img class="card-img-top mt-3" src="./Images/meat.jpg" alt="meat" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_meat"> Meat </p>
                        <div class="star_rating_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_meat"> $99.99 </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="meat" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_meat" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="meat" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3 ">
                    <img class="card-img-top mt-3" src="./Images/orange juice new.png" alt="orange juice" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_orange_juice"> Orange Juice </p>
                        <div class="star_rating_size">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_orange_juice"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="orange_juice" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_orange_juice" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="orange_juice" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3 ">
                    <img class="card-img-top mt-3" src="./Images/pizza 1.png" alt="pizza 2" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_pizza_2"> Pizza 2 </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_pizza_2"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="pizza_2" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_pizza_2" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="pizza_2" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3 ">
                    <img class="card-img-top mt-3" src="./Images/pizza.png" alt="pizza 3" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_pizza_3"> Pizza 3 </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_pizza_3"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="pizza_3" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_pizza_3" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="pizza_3" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3" >
                    <img class="card-img-top mt-3 w-50 ml-5" src="./Images/rajbhog.png" alt="rajbhog" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_amul_rajbhog"> Amul Rajbhog </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_amul_rajbhog"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="rajbhog" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_rajbhog" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="rajbhog" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group my-3">
                <div class="card d-none d-md-block mx-2 col-md-3 ">
                    <img class="card-img-top mt-3 w-50 ml-5" src="./Images/dew can.png" alt="Mountain dew" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_mountain_dew"> Mountain Dew </p>
                        <div class="star_rating_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_mountain_dew"> $99.99 </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="mountain_dew" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_mountain_dew" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="mountain_dew" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3 ">
                    <img class="card-img-top mt-3 w-50 ml-5" src="./Images/red bull can.png" alt="redbull" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_red_bull"> Red Bull </p>
                        <div class="star_rating_size">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_red_bull"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="red_bull" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_red_bull" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="red_bull" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3 ">
                    <img class="card-img-top mt-3 w-50 ml-5" src="./Images/game fuel can.png" alt="Game Fuel" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_game_fuel"> Game Fuel </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_game_fuel"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="game_fuel" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_game_fuel" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="game_fuel" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3 ">
                    <img class="card-img-top mt-3" src="./Images/diet coke.png" alt="diet coke" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_diet_coke"> Diet Coke </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_diet_coke"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="diet_coke" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_diet_coke" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="diet_coke" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card d-none d-md-block mx-2 col-md-3 ">
                    <img class="card-img-top mt-3 w-50 ml-5" src="./Images/pepsi can.png" alt="pepsi zero" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_pepsi_zero"> Pepsi zero </p>
                        <div class="Green_stars_sales_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star star_rating_size"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_pepsi_zero"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="pepsi_zero" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_pepsi_zero" class="input_area mx-1 text-center input_val" value="0">
                                <button value="+" id="pepsi_zero" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- ............... Mobile Version ............. -->
            <div class="card-deck d-flex d-block d-lg-none">
                <div class="card mr-3">
                    <img class="card-img-top mt-3" src="./Images/red-carot.jpg" alt="Cheese" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_red_carot_mobile"> Red Carot </p>
                        <div class="star_rating_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_red_carot_mobile"> $99.99 </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="red_carot_mobile" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_red_carot_mobile" class="input_area mx-1 text-center input_val"
                                    value="0">
                                <button value="+" id="red_carot_mobile" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top mt-3" src="./Images/ice-cream.jfif" alt="Cheese" height="180px">
                    <div class="card-body px-4 py-1">
                        <p class="card-title font-weight-bold" id="product_ice_cream_mobile"> Ice Cream </p>
                        <div class="star_rating_size ">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="text-success font-weight-bold" id="price_ice_cream_mobile"> $99.99
                            <span class="line_through_text font-weight-light"> $110.00 </span>
                        </p>
                        <div>
                            <div class="text-center">
                                <button value="-" id="ice_cream_mobile" class="value_btn minus_btn"> - </button>
                                <input disabled id="qty_ice_cream_mobile" class="input_area mx-1 text-center input_val"
                                    value="0">
                                <button value="+" id="ice_cream_mobile" class="value_btn mb-3 plus_btn"> + </button>
                            </div>
                            <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2" onclick="addTermrows()"> Add to cart </button>
                            <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="maincont"></div>
            <button class="d-flex m-auto load_more py-1 px-3" id="reslink"> More Products </button>
        </div>
        <div class="container pb-5">
            <div class="d-flex pb-3">
                <h5 class="font-weight-bold"> Find Your Recipe </h5>
                <span class="ml-auto">View All <i class="fa fa-angle-right pl-1"></i></span>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="./Images/recipe 1.jpg" alt="recipe 1">
                        <div class="card-body py-2">
                            <p class="card-text mb-1 h6">Recipe 1</p>
                            <div class="text-secondary font-weight-light"> <small> <i class="fa fa-calendar"></i> &nbsp; 
                                Jan 01, 2021 &nbsp; <i class="fa fa-comments"></i> &nbsp; 10 comments </small> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-md-block">
                    <div class="card">
                        <img class="card-img-top" src="./Images/recipe 2.jpg" alt="recipe 2">
                        <div class="card-body py-2">
                            <p class="card-text mb-1 h6">Recipe 2</p>
                            <div class="text-secondary font-weight-light"> <small> <i class="fa fa-calendar"></i> &nbsp; 
                                Jan 01, 2021 &nbsp; <i class="fa fa-comments"></i> &nbsp; 8 comments </small> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-md-block">
                    <div class="card">
                        <img class="card-img-top" src="./Images/recipe 3.jpg" alt="recipe 3">
                        <div class="card-body py-2">
                            <p class="card-text mb-1 h6">Recipe 3</p>
                            <div class="text-secondary font-weight-light"> <small> <i class="fa fa-calendar"></i> &nbsp; 
                                Jan 01, 2021 &nbsp; <i class="fa fa-comments"></i> &nbsp; 5 comments </small> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pb-5">
            <div class="pb-3">
                <h5 class="font-weight-bold"> Our Brands </h5>
            </div>
            <div class="mb-5">
                <div class="bg-white py-5">
                    <div class="row text-center">
                        <div class="col">
                            <img src="./Images/google_round_icon.png" alt="google" height="70px">
                        </div>
                        <div class="col">
                            <img src="./Images/apple_logo_icon.png" alt="Apple" height="70px">
                        </div>
                        <div class="col d-none d-md-block">
                            <img src="./Images/spotify_icon.png" alt="Spotify" height="70px">
                        </div>
                        <div class="col d-none d-md-block">
                            <img src="./Images/amazon_icon.png" alt="Amazon" height="70px">
                        </div>
                        <div class="col d-none d-md-block">
                            <img src="./Images/telegram_icon.png" alt="telegram" height="70px">
                        </div>
                        <div class="col d-none d-md-block">
                            <img src="./Images/bitcoin.png" alt="bitcoin" height="70px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>toast_subscribe}}
    </main>
    {{>footer}}
</body>
</html>