<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thank you for ordering</title>
    {{>head_links}}
</head>
<body id="main">
    {{>header}}
    
    <div class="container mb-5 pb-5">
        {{>breadCrumbs}}
        <div class="row">
            <div class="col-md-12 col-12">
                <figure class="error_img mx-auto">
                    <img class="img-fluid" src="../Images/cancel.png" alt="error img" srcset="">
                    <a href="/checkout" class="btn btn-outline-danger" style="margin-left: 180px;">Retry Payment</a>
                </figure>
            </div>
        </div>
    </div>
    {{>toast_subscribe}}
    {{>footer}}
</body>
</html>