<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    {{>head_links}}
</head>

<body id="main">
    {{>header}}
    <main>
        <div class="container pb-5 mb-4">
            {{>breadCrumbs}}
            <div class="bg-white rounded" style="height: 520px;">
                <div id="showChangePassword" class="row">
                    <div class="col-md-6 ">
                        <img src="../Images/password.png" class="login_bg_img" width="100%" style="height: 520px;" alt="change password">
                    </div>
                    <div class="col-md-6 pr-5 mt-3">
                        <h2 class="mb-4"> Change Password </h2>
                        <form action="/user/change-password" method="post" id="mypass" name="changePassword" onsubmit="return validatePassword()">
                            <div class="mb-3">
                                <label for="currnet_Password" class="form-label">Current Password</label>
                                <input type="password" name="currentPassword" class="form-control" id="Input_Password" autocomplete="off" required>
                            </div>
                            <div class="mb-3">
                                <label for="new_Password" class="form-label">New Password</label>
                                <input type="password" name="newPassword" class="form-control" id="new_Input_Password" autocomplete="off" required>
                                <span id="passErrMsg" class="error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="new_Password_confirm" class="form-label">Confirm New Password</label>
                                <input type="password" name="confirmNewPassword" class="form-control" id="Input_Password_confirm" autocomplete="off" required>
                            </div>
                            <button type="submit" class="btn btn-outline-success rounded mb-3" style="width: 100%;">
                                Change Password
                            </button>
                            {{#if success}}
                            <div class="alert alert-success">
                                {{success}}
                            </div>
                            {{else if error}}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                            {{/if}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{>toast_subscribe}}
    </main>
    {{>footer}}
</body>

</html>