<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    {{> head_links_admin}}
</head>
<body>
    {{> header_admin}}

    <main>
        <div class="container">
            {{!-- <div class="px-3">
                {{> breadCrumbs}} 
            </div> --}}
            <div class="col-md-12 my-auto">
                <h3> For Category </h3>
                <div class="card-deck pb-5">
                    <a href="/admin/category-add" class="w-50 text-decoration-none text-dark">
                        <div class="card flex-row shadow_on_hover">
                            <img class="card-img-left example-card-img-responsive" src="../images/wishlist-small.png"
                                style="width: 100px;" />
                            <div class="card-body my-auto">
                                <h4 class="card-title h5 h4-sm"> Add Category </h4>
                            </div>
                        </div>
                    </a>
                    <a href="/admin/category-list" class="w-50 text-decoration-none text-dark">
                        <div class="card flex-row shadow_on_hover">
                            <img class="card-img-left example-card-img-responsive" src="../images/delivery-small.png"
                                style="width: 100px;" />
                            <div class="card-body my-auto">
                                <h4 class="card-title h5 h4-sm"> View Categories </h4>
                            </div>
                        </div>
                    </a>
                </div>

                <h3> For Products </h3>
                <div class="card-deck">
                    <a href="/admin/product-add" class="w-50 text-decoration-none text-dark">
                        <div class="card flex-row shadow_on_hover">
                            <img class="card-img-left example-card-img-responsive" src="../images/product add.png"
                                style="width: 100px;" />
                            <div class="card-body my-auto">
                                <h4 class="card-title h5 h4-sm">Add Products</h4>
                            </div>
                        </div>
                    </a>
                    <a href="/admin/product-list" class="w-50 text-decoration-none text-dark">
                        <div class="card flex-row shadow_on_hover">
                            <img class="card-img-left example-card-img-responsive" src="../images/product view.png"
                                style="width: 100px;" />
                            <div class="card-body my-auto">
                                <h4 class="card-title h5 h4-sm">View Products</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>