<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    {{>head_links}}
</head>
<body>
    {{>header}}
    
    <div class="container mb-5 pb-5">
        <div class="row">
            <div class="col-md-12 col-12">
                <figure class="error_img mx-auto">
                    <img class="img-fluid" src="../Images/Oops 404.png" alt="error img" srcset="">
                    <a href="/" class="go_homepage" style="margin-left: 180px;">Go to Homepage</a>
                </figure>
            </div>
        </div>
    </div>
    {{>toast_subscribe}}
    {{>footer}}
</body>
</html>