<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> fruits and vagetables </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d18b1a9336.js" crossorigin="anonymous"></script>
    <script src="./JS/fruits.js"></script>
    <link rel="stylesheet" href="./CSS/fruits.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="shortcut icon" href="./Images/fruits-and-vegetables.png" type="image/x-icon">
</head>
    <body>
        {{>header}}
        
        <main>
            <div class="container pb-5">
                <div class="row">
                    <div class="col-xl-8 col-sm-12 col-12">
                        <div class="mb-3">
                            <img class="card-img img_width   rounded-0" src="./Images/img-6.jpg" alt="First slide">
                            <div class="card-img-overlay">
                                <div class="img_text_alignment text-success">
                                    <h3 class="card-title mb-1"> Fresh Vegetables </h3>
                                    <h1 class="card-title mb-2"> From Our Farm </h1>
                                    <button class="btn-outline-success px-3"> Shop now</button>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-xl-block">
                            <div class="row">
                                <div class="media col bg-white border p-0 mx-3">
                                    <img class="align-self-center mr-2" src="./Images/homemade.png" alt="Generic placeholder image" width="85px">
                                    <div class="media-body">
                                        <h5 class="text-success mt-2">Homemade</h5>
                                        <span> random text random text </span>
                                    </div>
                                </div>
                                <div class="media col bg-white border p-0">
                                    <img class="align-self-center mr-2" src="./Images/homemade.png" alt="Generic placeholder image" width="85px">
                                    <div class="media-body">
                                        <h5 class="text-success mt-2">Homemade</h5>
                                        <p>random text random text</p>
                                    </div>
                                </div>
                                <div class="media col bg-white border p-0 mx-3">
                                    <img class="align-self-center mr-2" src="./Images/homemade.png" alt="Generic placeholder image" width="85px">
                                    <div class="media-body">
                                        <h5 class="text-success mt-2">Homemade</h5>
                                        <p>random text random text </p>
                                    </div>
                                </div>
                            </div>
                        </div>                             
                    </div>                   
                    <div class="col-xl-4 col-sm-12 col-12">
                        <div class="bg-white border">
                            <div class="d-flex">
                                <div class="text-success font-weight-bold p-3"> What's New</div>
                                <div class="p-3 ml-auto"> View All <i class="fa fa-angle-right pl-1"></i></div> <br>
                            </div>
                            <div class="row mb-2">
                                <img src="./Images/ice cream.png" alt="ice-cream" height="85px" class="pr-2 ml-5">
                                <div class="col">                               
                                    <span class="font-weight-bold"> Multi Flavor Ice Cream </span> <br>
                                    <div class="star_rating_size">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i> <br>
                                    </div>
                                    <span class="text-success font-weight-bold"> $15.00 </span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <img src="./Images/kitkat.png" alt="kit-kat" height="85px" class="pl-4">
                                <div class="col col-md-6 col-sm-6">                               
                                    <span class="font-weight-bold"> Kit Kat </span> <br>
                                    <div class="star_rating_size">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i> <br>
                                    </div>
                                    <span class="text-success font-weight-bold"> $15.00 </span> <span class="line_through_text font-weight-light"> $10.00 </span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <img src="./Images/pizza 1.png" alt="pizza" height="85px" class="pl-4">
                                <div class="col col-md-6 col-sm-6">                               
                                    <span class="font-weight-bold"> Pizza </span> <br>
                                    <div class="star_rating_size">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i> <br>
                                    </div>
                                    <span class="text-success font-weight-bold"> $15.00 </span> <span class="line_through_text font-weight-light"> $10.00 </span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <img src="./Images/red-carot.jpg" alt="red-carot" height="85px" class="pl-4">
                                <div class="col col-md-6 col-sm-6">                               
                                    <span class="font-weight-bold"> Red Carot </span> <br>
                                    <div class="star_rating_size">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i> <br>
                                    </div>
                                    <span class="text-success font-weight-bold"> $15.00 </span> <span class="line_through_text font-weight-light"> $10.00 </span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <img src="./Images/milk 1.png" alt="milk" height="85px" class="pl-4">
                                <div class="col">                               
                                    <span class="font-weight-bold"> Fresh Milk </span> <br>
                                    <div class="star_rating_size">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i> <br>
                                    </div>
                                    <span class="text-success font-weight-bold"> $15.00 </span> <span class="line_through_text font-weight-light"> $10.00 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-5">
                <div class="d-flex pb-3">
                    <h5 class="font-weight-bold"> Shop By Catagory </h5>
                    <span class="ml-auto">View All <i class="fa fa-angle-right pl-1"></i></span>
                </div>
                <div class="card-group text-center border">
                    <div class="card border-0 d-none d-md-block">
                        <img class="card-img-top mt-5 border-right" src="./Images/fresh produce.jpg" alt="fresh food" height="250px">
                        <div class="card-body">
                            <p class="card-text"> Fresh Produce </p>                            
                        </div>
                    </div>
                    <div class="card border-0 d-none d-md-block">
                        <img class="card-img-top mt-5 border-right" src="./Images/meat.jpg" alt="meat" height="250px">
                        <div class="card-body">
                            <p class="card-title"> Meat & Seafood </p>
                        </div>
                    </div>
                    <div class="card border-0 d-none d-md-block">
                        <img class="card-img-top mt-5 border-right" src="./Images/eggs.jpg" alt="Cheese" height="250px">
                        <div class="card-body">
                            <p class="card-title"> Dairy & Eggs </p>
                        </div>
                    </div>
                    <div class="card border-0 d-none d-md-block">
                        <img class="card-img-top mt-5 border-right" src="./Images/Bread.jpg" alt="Bread" height="250px">
                        <div class="card-body">
                            <p class="card-title"> Bakery </p>
                        </div>
                    </div>
                    <div class="card border-0 d-none d-md-block">
                        <img class="card-img-top mt-5 border-right" src="./Images/frozen food.png" alt="frozen food" height="250px">
                        <div class="card-body">
                            <p class="card-title"> Frozen Food </p>
                        </div>
                    </div>
                    <div class="card border-0 d-none d-md-block">
                        <img class="card-img-top mt-5" src="./Images/drink.jpg" alt="drink" height="250px">
                        <div class="card-body">
                            <p class="card-title">Drink & Coffee</p>
                        </div>
                    </div>
                </div>
                <!---------- Mobile Version ---------->
                <div class="card-deck d-flex d-block d-lg-none">
                    <div class="card border-0">
                        <img class="card-img-top mt-5 border-right" src="./Images/fresh.png" alt="fresh food" height="180px">
                        <div class="card-body">
                            <p class="card-text text-center"> Fresh Produce </p>                            
                        </div>
                    </div>
                    <div class="card border-0">
                        <img class="card-img-top mt-5 border-right" src="./Images/pizza.png" alt="meat" height="180px">
                        <div class="card-body">
                            <p class="card-title text-center"> Meat & Seafood </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-5">
                <div class="d-flex pb-3">
                    <h5 class="font-weight-bold"> Today Flash Sales </h5>
                    <p class="ml-5 d-none d-md-block"> Ends In: 
                        <span class="bg-success text-white px-3 py-2 ml-2 "> 01 Hours :&nbsp; 03 Minutes&nbsp; : 00 Seconds </span>
                     </p>
                    <span class="ml-auto">View All <i class="fa fa-angle-right pl-1"></i></span>
                </div>
                <div class="card-group">
                    <div class="card d-none d-md-block">
                        <img class="card-img-top" src="./Images/soups.jpg" alt="Cheese" height="300px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Fresh Juice </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 </p>
                            <div class="progress progress_bar_height">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="pt-1 text-secondary"> <small> Sold: 30/50 </small></p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img class="card-img-top" src="./Images/orange juice.jpg" alt="meat" height="300px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Orange Juice </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 </p>
                            <div class="progress progress_bar_height">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="pt-1 text-secondary"> <small> Sold: 25/50 </small></p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img class="card-img-top" src="./Images/red amaranth.jpg" alt="Cheese" height="300px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Red Amaranth </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 </p>
                            <div class="progress progress_bar_height">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="pt-1 text-secondary"> <small> Sold: 15/50 </small></p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img class="card-img-top" src="./Images/bamboo shoots.jpg" alt="Bread" height="300px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Bamboo Shoots </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 </p>
                            <div class="progress progress_bar_height">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="pt-1 text-secondary"> <small> Sold: 35/50 </small></p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img class="card-img-top" src="./Images/dry fruits.jpg" alt="dry fruits" height="300px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Dry Fruits </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 </p>
                            <div class="progress progress_bar_height">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="pt-1 text-secondary"> <small> Sold: 5/50 </small></p>
                        </div>
                    </div>
                </div>
                <!------- Mobile Version ------->
                <div class="card-deck d-flex d-block d-lg-none">
                    <div class="card">
                        <img class="card-img-top" src="./Images/orange juice.jpg" alt="meat" height="300px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Orange Juice </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 </p>
                            <div class="progress progress_bar_height">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="pt-1 text-secondary"> <small> Sold: 25/50 </small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="./Images/dry fruits.jpg" alt="dry fruits" height="300px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Dry Fruits </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 </p>
                            <div class="progress progress_bar_height">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="pt-1 text-secondary"> <small> Sold: 5/50 </small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-5">
                <div class="card">
                    <img src="./Images/Untitled.png" alt="special Offer" height="250px">
                    <div class="card-img-overlay">
                        <div class="text-center">
                            <h4 class="card-title"> <span class="bg-danger px-3 py-1 text-white"> Sale 50% off </span> </h4>
                            <h1 class="card-title text-danger"> Fruits And Vegetables </h1>
                            <h4 class="card-title"> special Offer</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-5" >
                <div class="d-flex pb-3">
                    <h5 class="font-weight-bold"> Best Sellers </h5>
                    <a class="ml-auto" href="/best_sellers" >View All <i class="fa fa-angle-right pl-1"></i>
                    </a>
                </div>
                <div class="carousel" data-flickity='{ "freeScroll": false, "contain": true, "prevNextButtons": true, "pageDots": false, "wrapAround": true }'>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3" src="./Images/red-carot.jpg" alt="red-carot" height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> Red Carot </p>
                                <div class="star_rating_size">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99 </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="red_carot" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_red_carot" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="red_carot" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3" src="./Images/ice-cream.jfif" alt="ice cream" height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> Ice Cream </p>
                                <div class="star_rating_size">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99
                                    <span class="line_through_text font-weight-light"> $110.00 </span>
                                </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="ice_cream" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_ice_cream" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="ice_cream" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3 w-50 ml-5" src="./Images/kit-kat.png" alt="kit-kat"
                                height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> kit-kat </p>
                                <div class="Green_stars_sales_size">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99
                                    <span class="line_through_text font-weight-light"> $110.00 </span>
                                </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="kit_kat" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_kit_kat" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="kit_kat" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3" src="./Images/pizza.png" alt="pizza" height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> Pizza </p>
                                <div class="Green_stars_sales_size">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full star_rating_size"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99
                                    <span class="line_through_text font-weight-light"> $110.00 </span>
                                </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="pizza" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_pizza" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="pizza" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3" src="./Images/milk 1.png" alt="milk" height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> Milk </p>
                                <div class="Green_stars_sales_size">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99
                                    <span class="line_through_text font-weight-light"> $110.00 </span>
                                </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="milk" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_milk" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="milk" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3 w-50 ml-5" src="./Images/dew can.png" alt="Mountain dew" height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> Mountain Dew </p>
                                <div class="star_rating_size ">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99 </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="mountain_dew" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_mountain_dew" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="mountain_dew" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3 w-50 ml-5" src="./Images/red bull can.png" alt="redbull"
                                height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> Red Bull </p>
                                <div class="star_rating_size">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99
                                    <span class="line_through_text font-weight-light"> $110.00 </span>
                                </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="red_bull" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_red_bull" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="red_bull" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3 w-50 ml-5" src="./Images/game fuel can.png" alt="Game Fuel"
                                height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> Game Fuel </p>
                                <div class="Green_stars_sales_size ">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99
                                    <span class="line_through_text font-weight-light"> $110.00 </span>
                                </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="game_fuel" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_game_fuel" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="game_fuel" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3" src="./Images/diet coke.png" alt="diet coke" height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> Diet Coke </p>
                                <div class="Green_stars_sales_size ">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full star_rating_size"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99
                                    <span class="line_through_text font-weight-light"> $110.00 </span>
                                </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="diet_coke" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_diet_coke" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="diet_coke" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="card d-none d-md-block mx-1">
                            <img class="card-img-top mt-3 w-50 ml-5" src="./Images/pepsi can.png" alt="pepsi zero"
                                height="180px">
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> Pepsi zero </p>
                                <div class="Green_stars_sales_size ">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                </div>
                                <p class="text-success font-weight-bold"> $99.99
                                    <span class="line_through_text font-weight-light"> $110.00 </span>
                                </p>
                                <div class="pb-2">
                                    <div class="text-center">
                                        <button value="-" id="pepsi_zero" class="value_btn minus_btn"> - </button>
                                        <input disabled id="txt_pepsi_zero" class="input_area mx-1 text-center input_val" value="0">
                                        <button value="+" id="pepsi_zero" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ............... Mobile Version ............. -->
                <div class="card-deck d-flex d-block d-lg-none">
                    <div class="card mr-3">
                        <img class="card-img-top mt-3" src="./Images/red-carot.jpg" alt="Cheese" height="180px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Red Carot </p>
                            <div class="star_rating_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 </p>
                            <div>
                                <div class="text-center">
                                    <button value="-" id="red_carot_mobile" class="value_btn minus_btn"> - </button>
                                    <input disabled id="txt_red_carot_mobile" class="input_area mx-1 text-center input_val" value="0">
                                    <button value="+" id="red_carot_mobile" class="value_btn mb-3 plus_btn"> + </button>
                                </div>
                                <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top mt-3" src="./Images/ice-cream.jfif" alt="Cheese" height="180px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Ice Cream  </p>
                            <div class="star_rating_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 
                                <span class="line_through_text font-weight-light"> $110.00 </span>
                            </p>
                            <div>
                                <div class="text-center">
                                    <button value="-" id="ice_cream_mobile" class="value_btn minus_btn"> - </button>
                                    <input disabled id="txt_ice_cream_mobile" class="input_area mx-1 text-center input_val" value="0">
                                    <button value="+" id="ice_cream_mobile" class="value_btn mb-3 plus_btn"> + </button>
                                </div>
                                <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ...................toast Add to cart.............. -->
            <div class="container">
                <div class="toast cart_toast bg-success " role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                    <div class="toast-header">
                        <strong class="mr-auto"> Added to cart </strong>
                        <small>Just Now</small>
                    </div>
                    <div class="toast-body text-white" id="add_to_cart_toast">
                        <!-- Product added to your cart... -->
                    </div>
                </div>
            </div>

            <div class="container pb-5">
                <div class="d-flex pb-3">
                    <h5 class="font-weight-bold"> Top Special Offers! </h5>
                    <span class="ml-auto"> View All <i class="fa fa-angle-right pl-1"></i></span>
                </div>
                <div class="card-deck">
                    <div class="card d-none d-lg-block"> 
                        <img class="card-img" src="./Images/juices organic.jpg" alt="organic juices" height="390px">
                        <div class="card-img-overlay text-right">
                            <div class="card-text"> <span class="bg-success text-white px-2 h6"> 35% OFF </span></div>
                            <h5 class="card-text text-white mb-0"> Fresh juices </h5>
                            <div class="card-text text-white"> special offer </div>
                        </div>
                    </div>
                    <div class="card d-none d-lg-block">
                        <img class="card-img" src="./Images/Ice_cream_with.jpg" alt="Ice cream" height="390px">
                        <div class="card-img-overlay text-center">
                            <div class="card-text"> <span class="text-danger h6 font-italic"> Save Up to 30% </span></div>
                            <h5 class="card-text font-italic font-weight-bold mb-0"> chocolate & vani </h5>
                            <div class="card-text"> Ice Cream Cake </div>
                        </div>
                    </div>
                    <div class="card d-none d-lg-block">
                        <img class="card-img" src="./Images/meat card.jpg" alt="meat" height="390px">
                        <div class="card-img-overlay text-center">
                            <div class="card-text"> <span class="text-warning h6"> Only From $89.99 </span></div>
                            <h5 class="card-text text-white font-italic font-weight-bold mb-0"> Fresh Meat </h5>
                            <div class="card-text text-white"> Limited Time Offers! </div>
                        </div>
                    </div>
                    <div class="card d-none d-lg-block">
                        <img class="card-img" src="./Images/vegetables card img.jpg" alt="Card image cap" height="390px">
                        <div class="card-img-overlay">
                            <div class="card-text mb-1"> <span class="bg-danger text-white px-3 py-1 h6"> Coupon 25% </span></div>
                            <h5 class="card-text font-weight-bold font-italic mb-0"> Vegetables </h5>
                            <div class="card-text"> Limited offer </div>
                        </div>
                    </div>

                    <!--------------- Mobile Version ------------------>
                    <div class="card-deck d-flex d-block d-lg-none">
                            <div class="card mr-2">
                                <img class="card-img" src="./Images/Ice_cream_with.jpg" alt="Ice cream" height="300px">
                                <div class="card-img-overlay text-center">
                                    <div class="card-text"> <span class="text-danger h6 font-italic"> Save Up to 30% </span></div>
                                    <h5 class="card-text font-italic mb-0"> chocolate </h5>
                                    <div class="card-text"> Ice Cream Cake </div>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img" src="./Images/meat-card.png" alt="meat" height="300px">
                                <div class="card-img-overlay text-center">
                                    <div class="card-text"> <span class="text-warning h6"> Only From $89.99 </span></div>
                                    <h5 class="card-text text-white font-italic font-weight-bold mb-0"> Fresh Meat </h5>
                                    <div class="card-text text-white"> Limited Time Offers! </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-5">
                <div class="d-flex pb-3">
                    <h5 class="font-weight-bold"> New Arrivals </h5>
                    <span class="ml-auto">View All <i class="fa fa-angle-right pl-1"></i></span>
                </div>
                <div class="card-group">
                    <div class="card d-none d-md-block">
                        <img class="card-img-top px-3 py-4" src="./Images/broccoli.png" alt="broccoli" height="200px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Broccoli </p>
                            <div class="star_rating_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 </p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img class="card-img-top" src="./Images/orange juice new.png" alt="orange juice" height="200px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Orange Juice  </p>
                            <div class="star_rating_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img class="card-img-top px-4 py-3" src="./Images/tomato.png" alt="tomato" height="200px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Imported Tomato </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star star_rating_size"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img class="card-img-top" src="./Images/bamboo shoots png.png" alt="bamboo shoots" height="200px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Bamboo Shoots </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full star_rating_size"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img class="card-img-top" src="./Images/strawberry.jpg" alt="strawberry" height="200px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Strawberry </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star star_rating_size"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                        </div>
                    </div>
                </div>
                <!--------- Mobile Version -------->
                <div class="card-deck d-flex d-block d-lg-none">
                    <div class="card">
                        <img class="card-img-top" src="./Images/orange juice new.png" alt="orange juice" height="200px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Orange Juice  </p>
                            <div class="star_rating_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top px-4 py-3" src="./Images/tomato.png" alt="tomato" height="200px">
                        <div class="card-body px-4 py-1">
                            <p class="card-title font-weight-bold"> Imported Tomato </p>
                            <div class="Green_stars_sales_size pb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star star_rating_size"></i>
                            </div>
                            <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                        </div>
                    </div> 
                </div>                   
            </div>
            <div class="container pb-5">
                <div class="d-none d-md-block">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <img src="./Images/gelato.jpg" alt="gelato" class="card-img" height="200px">
                                <div class="card-img-overlay">
                                    <div class="card-title text-white font-weight-bold font-italic"> <span class="bg-success px-2 py-1"> Save Up to 30% </span> </div>
                                    <div class="card-title h5 font-italic font-weight-bold text-white"> Dairy Free Gelato</div>
                                    <div class="card-title font-weight-bold text-white"> Organic Food </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="./Images/burger.jpg" alt="gelato" class="card-img" height="200px">
                                <div class="card-img-overlay text-right text-white">
                                    <div class="card-title font-weight-bold"> <span class="bg-danger px-2 py-1"> Save Up to 75% </span> </div>
                                    <div class="card-title h5 font-italic font-weight-bold"> Fast Food</div>
                                    <div class="card-title font-weight-bold"> Organic Food </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-none">
                    <div class="card mb-3">
                        <img src="./Images/gelato.jpg" alt="gelato" class="card-img" height="200px">
                        <div class="card-img-overlay">
                            <div class="card-title text-white font-weight-bold font-italic"> <span class="bg-success px-2 py-1"> Save Up to 30% </span> </div>
                            <div class="card-title h5 font-italic font-weight-bold text-white"> Dairy Free Gelato</div>
                            <div class="card-title font-weight-bold text-white"> Organic Food </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./Images/burger.jpg" alt="gelato" class="card-img" height="200px">
                        <div class="card-img-overlay text-right text-white">
                            <div class="card-title font-weight-bold"> <span class="bg-danger px-2 py-1"> Save Up to 75% </span> </div>
                            <div class="card-title h5 font-italic font-weight-bold"> Fast Food</div>
                            <div class="card-title font-weight-bold"> Organic Food </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="container pb-5">
                <div class="d-flex pb-3">
                    <h5 class="font-weight-bold"> Top Rated </h5>
                    <span class="ml-auto">View All <i class="fa fa-angle-right pl-1"></i></span>
                </div>
                <div class="bg-white">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="media py-4">
                                <img src="./Images/broccoli.png" alt="broccoli" width="100px" class="mx-4">
                                <div class="media-body">
                                    <h5> Broccoli </h5>
                                    <div class="Green_stars_sales_size pb-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                    </div>
                                    <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            <div class="media py-4">
                                <img src="./Images/strawberry.jpg" alt="strawberry" width="100px" class="mr-4">
                                <div class="media-body">
                                    <h5> Strawberry </h5>
                                    <div class="Green_stars_sales_size pb-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                    </div>
                                    <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            <div class="media py-4">
                                <img src="./Images/tomato.png" alt="Tomato" width="100px" class="mr-4">
                                <div class="media-body">
                                    <h5> Tomato </h5>
                                    <div class="Green_stars_sales_size pb-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                    </div>
                                    <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="media py-4">
                                <img src="./Images/orange juice new.png" alt="Orange Juice" width="100px" class="mx-4">
                                <div class="media-body">
                                    <h5> Orange Juice </h5>
                                    <div class="Green_stars_sales_size pb-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                    </div>
                                    <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            <div class="media py-4">
                                <img src="./Images/red-carot.jpg" alt="Red Carot" width="100px" class="mr-4">
                                <div class="media-body">
                                    <h5> Red Carot </h5>
                                    <div class="Green_stars_sales_size pb-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                    </div>
                                    <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            <div class="media py-4">
                                <img src="./Images/ice-cream.jfif" alt="ice-cream" width="100px" class="mr-4">
                                <div class="media-body">
                                    <h5> Ice Cream </h5>
                                    <div class="Green_stars_sales_size pb-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star star_rating_size"></i>
                                    </div>
                                    <p class="text-success font-weight-bold"> $99.99 <span class="line_through_text font-weight-light"> $110.00 </span> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-5">
                <div class="d-flex pb-3">
                    <h5 class="font-weight-bold"> Find Your Recipe </h5>
                    <span class="ml-auto">View All <i class="fa fa-angle-right pl-1"></i></span>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                        <img class="card-img-top" src="./Images/recipe 1.jpg" alt="recipe 1">
                            <div class="card-body py-2">
                                <p class="card-text mb-1 h6">Recipe 1</p>
                                <div class="text-secondary font-weight-light"> <small> <i class="fa fa-calendar"></i> &nbsp; 
                                    Jan 01, 2023 &nbsp; <i class="fa fa-comments"></i> &nbsp; 10 comments </small> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-none d-md-block">
                        <div class="card">
                        <img class="card-img-top" src="./Images/recipe 2.jpg" alt="recipe 2">
                            <div class="card-body py-2">
                                <p class="card-text mb-1 h6">Recipe 2</p>
                                <div class="text-secondary font-weight-light"> <small> <i class="fa fa-calendar"></i> &nbsp; 
                                    Jan 01, 2023 &nbsp; <i class="fa fa-comments"></i> &nbsp; 8 comments </small> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-none d-md-block">
                        <div class="card">
                        <img class="card-img-top" src="./Images/recipe 3.jpg" alt="recipe 3">
                            <div class="card-body py-2">
                                <p class="card-text mb-1 h6">Recipe 3</p>
                                <div class="text-secondary font-weight-light"> <small> <i class="fa fa-calendar"></i> &nbsp; 
                                    Jan 01, 2023 &nbsp; <i class="fa fa-comments"></i> &nbsp; 5 comments </small> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-5">
                <div class="pb-3">
                    <h5 class="font-weight-bold"> Our Brands </h5>
                </div>
                <div class="mb-5">
                    <div class="bg-white py-5">
                        <div class="row text-center">
                            <div class="col">
                                <img src="./Images/google_round_icon.png" alt="google" height="70px">
                            </div>
                            <div class="col">
                                <img src="./Images/apple_logo_icon.png" alt="Apple" height="70px">
                            </div>
                            <div class="col d-none d-md-block">
                                <img src="./Images/spotify_icon.png" alt="Spotify" height="70px">
                            </div>
                            <div class="col d-none d-md-block">
                                <img src="./Images/amazon_icon.png" alt="Amazon" height="70px">
                            </div>
                            <div class="col d-none d-md-block">
                                <img src="./Images/telegram_icon.png" alt="telegram" height="70px">
                            </div>
                            <div class="col d-none d-md-block">
                                <img src="./Images/bitcoin.png" alt="bitcoin" height="70px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {{>footer}}
    </body>
</html>