<div class="card-group my-3">
    <div class="card d-none d-md-block mx-2 col-md-3">
        <img class="card-img-top mt-3" src="./Images/red-carot.jpg" alt="red-carot" height="180px">
        <div class="card-body px-4 py-1">
            <p class="card-title font-weight-bold"> Red Carot </p>
            <div class="star_rating_size ">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p class="text-success font-weight-bold"> $99.99 </p>
            <div>
                <div class="text-center">
                    <button value="-" id="red_carot_more" class="value_btn minus_btn"> - </button>
                    <input disabled id="txt_red_carot_more" class="input_area mx-1 text-center input_val" value="0">
                    <button value="+" id="red_carot_more" class="value_btn mb-3 plus_btn"> + </button>
                </div>
                <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
            </div>
        </div>
    </div>
    <div class="card d-none d-md-block mx-2 col-md-3">
        <img class="card-img-top mt-3" src="./Images/ice-cream.jfif" alt="Cheese" height="180px">
        <div class="card-body px-4 py-1">
            <p class="card-title font-weight-bold"> Ice Cream </p>
            <div class="star_rating_size">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p class="text-success font-weight-bold"> $99.99
                <span class="line_through_text font-weight-light"> $110.00 </span>
            </p>
            <div>
                <div class="text-center">
                    <button value="-" id="ice_cream_more" class="value_btn minus_btn"> - </button>
                    <input disabled id="txt_ice_cream_more" class="input_area mx-1 text-center input_val" value="0">
                    <button value="+" id="ice_cream_more" class="value_btn mb-3 plus_btn"> + </button>
                </div>
                <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
            </div>
        </div>
    </div>
    <div class="card d-none d-md-block mx-2 col-md-3">
        <img class="card-img-top mt-3 w-50 ml-5" src="./Images/kit-kat.png" alt="kit-kat" height="180px">
        <div class="card-body px-4 py-1">
            <p class="card-title font-weight-bold"> kit-kat </p>
            <div class="Green_stars_sales_size ">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star star_rating_size"></i>
            </div>
            <p class="text-success font-weight-bold"> $99.99
                <span class="line_through_text font-weight-light"> $110.00 </span>
            </p>
            <div>
                <div class="text-center">
                    <button value="-" id="kit_kat_more" class="value_btn minus_btn"> - </button>
                    <input disabled id="txt_kit_kat_more" class="input_area mx-1 text-center input_val" value="0">
                    <button value="+" id="kit_kat_more" class="value_btn mb-3 plus_btn"> + </button>
                </div>
                <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
            </div>
        </div>
    </div>
    <div class="card d-none d-md-block mx-2 col-md-3">
        <img class="card-img-top mt-3" src="./Images/pizza.png" alt="Cheese" height="180px">
        <div class="card-body px-4 py-1">
            <p class="card-title font-weight-bold"> Pizza </p>
            <div class="Green_stars_sales_size ">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-full star_rating_size"></i>
            </div>
            <p class="text-success font-weight-bold"> $99.99
                <span class="line_through_text font-weight-light"> $110.00 </span>
            </p>
            <div>
                <div class="text-center">
                    <button value="-" id="pizza_more" class="value_btn minus_btn"> - </button>
                    <input disabled id="txt_pizza_more" class="input_area mx-1 text-center input_val" value="0">
                    <button value="+" id="pizza_more" class="value_btn mb-3 plus_btn"> + </button>
                </div>
                <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
            </div>
        </div>
    </div>
    <div class="card d-none d-md-block mx-2 col-md-3">
        <img class="card-img-top mt-3" src="./Images/milk 1.png" alt="milk" height="180px">
        <div class="card-body px-4 py-1">
            <p class="card-title font-weight-bold"> Milk </p>
            <div class="Green_stars_sales_size ">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star star_rating_size"></i>
            </div>
            <p class="text-success font-weight-bold"> $99.99
                <span class="line_through_text font-weight-light"> $110.00 </span>
            </p>
            <div>
                <div class="text-center">
                    <button value="-" id="milk_more" class="value_btn minus_btn"> - </button>
                    <input disabled id="txt_milk_more" class="input_area mx-1 text-center input_val" value="0">
                    <button value="+" id="milk_more" class="value_btn mb-3 plus_btn"> + </button>
                </div>
                <button class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                <button class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
            </div>
        </div>
    </div>
</div>