<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    {{>head_links}}
</head>

<body id="main">
    {{>header}}
    <main>
        <div class="container pb-5 mb-4">
            <div class="row bg-white rounded p-3">
                <div class="col-md-6">
                    <div class="text-center">
                        <lord-icon src="https://cdn.lordicon.com/hbvyhtse.json" trigger="loop-on-hover" delay="300" colors="primary:#6c757d" style="width:250px;height:250px">
                        </lord-icon>
                    </div>
                    <div class="text-center font-weight-bold" style="font-size:30px">
                        Hello, {{defaultRenderData.user.username}}
                        {{#each User}}
                            <h5> {{this.email}} </h5>
                        {{/each}}
                    </div>
                </div>
                <div class="col-md-6 my-auto">
                    <div class="card-deck pb-4">
                        <a href="/change-password" class="w-50">
                            <div class="card flex-row shadow_on_hover">
                                <img class="card-img-left example-card-img-responsive" src="../images/password-small.png" style="width: 100px;"/>
                                <div class="card-body my-auto">
                                    <h4 class="card-title h5 h4-sm">Change Password</h4>
                                </div>
                            </div>
                        </a>
                        <a href="/address" class="w-50">
                            <div class="card flex-row shadow_on_hover">
                                <img class="card-img-left example-card-img-responsive" src="../images/Address-small.png" style="width: 100px;"/>
                                <div class="card-body my-auto">
                                    <h4 class="card-title h5 h4-sm">My Address</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-deck">
                        <a href="/wishlist" class="w-50">
                            <div class="card flex-row shadow_on_hover">
                                <img class="card-img-left example-card-img-responsive" src="../images/wishlist-small.png" style="width: 100px;"/>
                                <div class="card-body my-auto">
                                    <h4 class="card-title h5 h4-sm"> My Wishlist </h4>
                                </div>
                            </div>
                        </a>
                        <a href="/orders" class="w-50">
                            <div class="card flex-row shadow_on_hover">
                                <img class="card-img-left example-card-img-responsive" src="../images/delivery-small.png" style="width: 100px;"/>
                                <div class="card-body my-auto">
                                    <h4 class="card-title h5 h4-sm"> My Orders </h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{>toast_subscribe}}
    </main>
    {{>footer}}
</body>

</html>