<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    {{>head_links}}
</head>
<body>
    {{>header}}
    <main>
        <div class="container mb-5 pb-5">
            <div class="row">
                <div class="col-md-12 col-12">
                    <figure class="error_img mx-auto">
                        <img class="img-fluid" src="../Images/Welcome.png" alt="welcome img" srcset="">
                        <a href="/" class="go_homepage" style="margin-left: 180px;">Go to Homepage</a>
                    </figure>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
    
</body>
</html>