<footer>
    <div class="container-fluid bg-white px-0">
        <div class="container">
            <div class="bg-success" id="position_of_greenbar">
                <div class="row">
                    <div class="col-xl-6 col-sm-12 col-12">
                        <div class="media py-4 mx-5">
                            <img src="./Images/technical-support.png" alt="technical-support" height="60px">
                            <div class="text-white ml-2 mt-1">
                                <h5 class="mb-1"> Need Help? Call Our Award - Winning </h5>
                                <span class="font-weight-light"> SUPPORT TEAM 24/7 AT (123) 456-789 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-12 col-12">
                        <div class="py-4 mx-5 mt-1">
                            <div class="input-group mt-1">
                                <input type="text" class="form-control rounded-0 py-2"
                                    placeholder="Enter your e-mail..." aria-label="Search for products..." />
                                <div class="input-group-append">
                                    <button class="btn btn-dark text-white px-4 font-weight-light rounded-0"
                                        type="button" id="myBtn"> SUBSCRIBE </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- _____ toast subscribe _____ -->
                    <div class="container">
                        <div class="toast toast_sub bg-success" role="alert" aria-live="assertive" aria-atomic="true"
                            data-delay="2000">
                            <div class="toast-header">
                                <strong class="mr-auto"> Subscribed </strong>
                                <small>Just Now</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body text-white">
                                You just Subscribed to our Service...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pb-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="./Images/Prime Food.png" alt="logo" height="50px">
                    <ul class="list-unstyled text-secondary mt-4">
                        <li class="mb-3"> <i class="fa fa-map-marker text-success mr-2"></i> 123, Abc, 456-789, IND
                        </li>
                        <li class="mb-3"> <i class="fa fa-phone-square text-success mr-2"></i> (123)-345456 </li>
                        <li class="mb-3"> <i class="fa fa-envelope-o text-success mr-2"></i> support.us@company.com
                        </li>
                    </ul>
                    <div class="mt-5">
                        <h5 class="font-weight-bold"> Social Network </h5>
                        <div class="social_network_logo_size">
                            <i class="fa fa-google-plus-square"></i>
                            <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter-square"></i>
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-pinterest-square"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-none d-md-block">
                        <h5 class="pb-1"> Information </h5>
                        <div class="progress footer_text_decoration mt-3">
                            <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                aria-valuenow="100" aria-valuemax="100"> </div>
                        </div>
                        <ul class="list-unstyled text-secondary mt-4">
                            <li class="mb-3"> About Us </li>
                            <li class="mb-3"> My Account </li>
                            <li class="mb-3"> Track Your Order </li>
                            <li class="mb-3"> Wishlist </li>
                            <li class="mb-3"> Faqs </li>
                            <li class="mb-3"> Support </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="d-none d-md-block">
                        <h5 class="pb-1"> Service </h5>
                        <div class="progress footer_text_decoration mt-3">
                            <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                aria-valuenow="100" aria-valuemax="100"> </div>
                        </div>
                        <ul class="list-unstyled text-secondary mt-4">
                            <li class="mb-3"> Brands </li>
                            <li class="mb-3"> Gift Certificates </li>
                            <li class="mb-3"> Affiliates </li>
                            <li class="mb-3"> Specials </li>
                            <li class="mb-3"> Faqs </li>
                            <li class="mb-3"> Custom Link </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="d-none d-md-block">
                        <h5 class="pb-1"> Other Links </h5>
                        <div class="progress footer_text_decoration mt-3">
                            <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                aria-valuenow="100" aria-valuemax="100"> </div>
                        </div>
                        <ul class="list-unstyled text-secondary mt-4">
                            <li class="mb-3"> Contact Us </li>
                            <li class="mb-3"> Returns </li>
                            <li class="mb-3"> Support </li>
                            <li class="mb-3"> Site Map </li>
                            <li class="mb-3"> Customer Service </li>
                            <li class="mb-3"> Custom Links </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="d-none d-md-block">
                        <h5 class="pb-1"> Our Categories </h5>
                        <div class="progress footer_text_decoration mt-3">
                            <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                aria-valuenow="100" aria-valuemax="100"> </div>
                        </div>
                        <ul class="list-unstyled text-secondary mt-4">
                            <li class="mb-3"> Apple </li>
                            <li class="mb-3"> Bags & Shoes </li>
                            <li class="mb-3"> Electronics </li>
                            <li class="mb-3"> Fashion </li>
                            <li class="mb-3"> Gifts & Toys </li>
                            <li class="mb-3"> Health & Beauty </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- _____ Mobile Version _____ -->
            <div class="mt-3">
                <div class="d-block d-md-none mb-3">
                    <div class="accordion" id="accordionExample">
                        <div class="card mb-3 rounded">
                            <div class="card-header py-0 bg-success" id="headingOne">
                                <h2 class="d-flex mb-0">
                                    <button class="btn btn-block text-left text-white font-weight-bold" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Information
                                    </button>
                                    <i class="fa fa-angle-down text-white mt-1"></i>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body bg-white">
                                    <ul class="list-unstyled text-secondary">
                                        <li class="mb-3"> About Us </li>
                                        <li class="mb-3"> My Account </li>
                                        <li class="mb-3"> Track Your Order </li>
                                        <li class="mb-3"> Wishlist </li>
                                        <li class="mb-3"> Faqs </li>
                                        <li class="mb-3"> Support </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 rounded">
                            <div class="card-header py-0 bg-success" id="headingTwo">
                                <h2 class="d-flex mb-0">
                                    <button class="btn btn-block text-left text-white font-weight-bold" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                        aria-controls="collapseTwo">
                                        Service
                                    </button>
                                    <i class="fa fa-angle-down text-white mt-1"></i>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body bg-white">
                                    <ul class="list-unstyled text-secondary">
                                        <li class="mb-3"> About Us </li>
                                        <li class="mb-3"> My Account </li>
                                        <li class="mb-3"> Track Your Order </li>
                                        <li class="mb-3"> Wishlist </li>
                                        <li class="mb-3"> Faqs </li>
                                        <li class="mb-3"> Support </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 rounded">
                            <div class="card-header py-0 bg-success" id="headingThree">
                                <h2 class="d-flex mb-0">
                                    <button class="btn btn-block text-left text-white font-weight-bold" type="button"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree">
                                        Other Links
                                    </button>
                                    <i class="fa fa-angle-down text-white mt-1"></i>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body bg-white">
                                    <ul class="list-unstyled text-secondary">
                                        <li class="mb-3"> About Us </li>
                                        <li class="mb-3"> My Account </li>
                                        <li class="mb-3"> Track Your Order </li>
                                        <li class="mb-3"> Wishlist </li>
                                        <li class="mb-3"> Faqs </li>
                                        <li class="mb-3"> Support </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 rounded">
                            <div class="card-header py-0 bg-success" id="headingFour">
                                <h2 class="d-flex mb-0">
                                    <button class="btn btn-block text-left text-white font-weight-bold" type="button"
                                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                        aria-controls="collapseFour">
                                        Our Catagories
                                    </button>
                                    <i class="fa fa-angle-down text-white mt-1"></i>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="card-body bg-white">
                                    <ul class="list-unstyled text-secondary">
                                        <li class="mb-3"> About Us </li>
                                        <li class="mb-3"> My Account </li>
                                        <li class="mb-3"> Track Your Order </li>
                                        <li class="mb-3"> Wishlist </li>
                                        <li class="mb-3"> Faqs </li>
                                        <li class="mb-3"> Support </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="m-0">
    <div class="container">
        <div class="py-3">
            <div class="text-secondary">
                <div> <i class="fa fa-copyright"></i> 2023 <span class="text-success"> SuperMarket. </span> Designed by
                    <span class="text-success"> Tamburo.com </span> All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>