
<header>
    <div class="container-fluid bg-success text-white">
        <div class="d-none d-lg-block">
            <nav class="container" aria-label="">
                <div class="row py-2 font-weight-light">
                    <div class="col">
                        <div>
                            <i class="fa fa-phone"></i> Hotline: 123 456 789
                            <span> &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-sign-out"></i> Order status
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <img src="./Images/India 2.png" alt="India flag" height="20px" class="ml-auto my-1 mr-2 product_images">
                            <span> English  &nbsp;
                                <span> | </span> &nbsp;
                                <span> INR  </span>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid bg-white px-0">
        <div class="container">
            <div class="row py-4">
                <div class="col mx-auto my-auto">
                    <a href="/admin/dashboard"> <img src="./Images/Prime Food.png" width="130" alt="logo"> </a>
                </div>
                <div class="col-4 d-none d-lg-block my-auto">
                    <form method="get">
                        <div class="input-group mt-2">
                            <input type="text" for="browser-input" name="term" id="browser-input" class="form-control rounded-left" placeholder="Search for products..." aria-label="Search for products..." autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-success px-4 rounded-right" onfocus="autocomplete()" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col d-none d-lg-block align-text-bottom">
                    <div class="font-weight-bold text-secondary text-right" style="margin-top: 10px;">
                        {{#if defaultRenderData.user}}
                        <form method="POST" action="/admin/logout">
                            <div class="dropdown">
                                {{!-- <span style="font-size:30px;cursor:pointer; position:absolute;left:-929px; top:-7px" onclick="openNav()">&#9776; </span> --}}
                                {{!-- -------- Sidebar Code--------- --}}
                                {{!-- <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                    <a href="/profile" class="text-left p-2 pl-4"> <i class="fa-regular fa-address-card"></i> Profile </a>
                                    <a href="/orders" class="text-left p-2 pl-4"> <i class="fa-solid fa-truck-fast"></i> My Orders </a>
                                    <a href="/wishlist" class="text-left p-2 pl-4"> <i class="fa-solid fa-list-ul"></i> My Wishlist </a>
                                    <a href="/address" class="text-left p-2 pl-4"> <i class="fa-solid fa-location-dot"></i> My Address </a>
                                    <a class="text-left p-2 pl-4">
                                        <button type="submit" class="btn btn-outline-danger" style="font-weight: bold;font-size: 20px;"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout </button>
                                    </a>
                                </div> --}}

                                {{!-- <span class="dropdown-toggle mr-2" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-angle-down"></i> --}}
                                    Welcome, {{defaultRenderData.user.username}}
                                    <button type="submit" class="btn btn-outline-danger ml-4" style="margin-bottom: 6px;"> <i
                                            class="fa-solid fa-arrow-right-from-bracket"></i> Logout </button>
                                {{!-- </span> --}}
                                {{!-- <div class="dropdown-menu" style="position:fixed;top:87px;left:975px">
                                    <a class="dropdown-item text-secondary" href="/profile"> <i class="fa-regular fa-address-card"></i></i> Profile </a>
                                    <a class="dropdown-item text-secondary" href="/orders"> <i class="fa-solid fa-truck-fast"></i> My Orders </a>
                                    <a class="dropdown-item text-secondary" href="/wishlist"> <i class="fa-solid fa-list-ul"></i> My Wishlist </a>
                                    <a class="dropdown-item text-secondary mb-2" href="/address"> <i class="fa-solid fa-location-dot"></i> My Address </a>
                                    <button type="submit" class="btn btn-outline-danger ml-4" style="margin-bottom: 6px;"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout </button>
                                </div> --}}
                                {{!-- <a href="/cart" class="text-secondary">
                                    <lord-icon src="https://cdn.lordicon.com/udbbfuld.json" trigger="loop-on-hover" delay="200" colors="primary:#28a745" style="width:30px;height:30px;margin-bottom: -10px;">
                                    </lord-icon> 
                                    <sup class="bg-success text-white" style="border-radius: 50%;padding:3px" id="total_cart_value" name="totalQuantity"> 0 </sup>
                                </a> --}}
                            </div>
                        </form>
                        {{else}}
                        <div class="show-login" id="show-login" style="cursor: pointer">
                            <i class="fa fa-user-o"></i> Sign in / Register
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-success" id="first_hr_line">
    </div>
</header>