body {
    background-color: rgb(238, 238, 238);
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    border-right: 0;
}

#header_search_size {
    font-size: 1.5rem;
}

.img_width {
    height: 400px;
}

/* dropdown menu */
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    position: fixed;
}

.dropdown-toggle::after {
    content: none;
}

/* size of product images */
.product_images {
    object-fit: contain;
}

#first_hr_line {
    padding: 0.5px;
}

.img_text_alignment {
    margin-top: 120px;
    margin-left: 20px;
}

.line_through_text {
    font-size: 0.9rem;
    color: gray;
    text-decoration: line-through;
}

.star_rating_size {
    font-size: 0.7rem;
    color: rgb(202, 202, 202);
}

.Green_stars_sales_size {
    font-size: 0.7rem;
    color: green;
}

.progress_bar_height {
    height: 0.3rem;
}

#position_of_greenbar {
    position:relative;
    bottom: 55px;
}

.toast ,.toast01 {
    position: fixed;
    top: 10px; 
    right: 10px;
    z-index: 1000;
    width: 300px;
}

.social_network_logo_size {
    font-size: 35px;
}

.footer_text_decoration {
    height: 3px;
    width: 40px;
}

.input_area {
    width: 50px;
    /* border-radius: 20px; */
}

.value_btn {
    border-radius: 50%;
    border: none;
    padding-bottom: 5px;
    width: 30px;
}

.buy_now_btn, .add_to_cart_btn {
    border-radius: 20px;
    border: none;
}

.buy_now_btn:hover, .add_to_cart_btn:hover, .value_btn:hover {
    background-color: green;
    color: white;
    border: none;
}

.load_more {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgba(0, 128, 0, 0.700);
}

.load_more:hover {
    border: none;
    background-color: green;
}

.go_homepage {
    border-radius: 20px;
    padding: 8px 16px;
    border: none;
    color: white;
    background-color: rgba(0, 128, 0, 0.700);
}

.go_homepage:hover {
    border: none;
    background-color: green;
    color: white;
}

.login_bg_img {
    background-color: rgba(0, 128, 0, 0.200);
}

.showLogin, .showRegister {
    border: none;
    color: white;
}

.showLogin:hover, .showRegister:hover {
    border: none;
    background-color: rgba(0, 128, 0, 0.5);
    color: whitesmoke;
}

.flickity-prev-next-button.next {
    right: -50px !important;
}

.flickity-prev-next-button.previous {
    left: -50px !important;
}

.error_img {
    height: 30rem;
    width: 30rem;
}

#showRegister {
    display: none;
}

.popup {
    display: none;
    /* Hide the popup by default */
    position: absolute;
    /* Position the popup */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 999;
    /* Set the popup on top of everything */
}

.popup-content {
    background-color: #fefefe;
    /* Popup background */
    margin: 5% auto;
    /* Center the popup */
    width: 74%;
    /* Width of the popup */
}

.close {
    color: #aaa;
    font-size: 28px;
    position: absolute;
    top: -4px;
    left: 543px;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.show-login, .showLogin, .showRegister {
    cursor: pointer
}